.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#343434), to(#343434)), #fff;
  background: linear-gradient(0deg, #343434, #343434), #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 98;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.modal-bg.active {
  visibility: visible;
  opacity: 0.75;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 650px;
  max-height: 100vh;
  padding: 10px 20px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  transition: 0.3s all;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 18px;
  height: 18px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal-wrap {
  width: 100%;
  max-width: 550px;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-right: 0;
  }

  .success-btn {
    width: 100%;
    max-width: 200px;
    height: 50px;
    font-size: 20px;
  }

  p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 15px;
  }
}

.modal-head {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 23px;
}

.active {
  .modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(0.9);
  }

  .modal-bg.active {
    visibility: visible;
    opacity: 0.75;
  }
}


@media (max-width: 576px) {

  .modal {
    padding: 0;
  }

}
