.no-products {
  span {
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
  }
}

.category-head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.category-filter-wrap {
  display: flex;

  .form-control {
    margin-bottom: 0;
  }

  .search-control {
    margin-right: 20px;
  }
}

.category-page .dashboard {
  margin-top: 30px;
}

.category-page {
  .search-no-results {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .category-filter-wrap {
    margin-top: 10px;
    .form-control{
      width: 100%;
      max-width: calc(50% - 10px);
    }
  }
}

@media (max-width: 340px) {
  .category-filter-wrap {
    flex-wrap: wrap;

    .search-control {
      margin-bottom: 5px;
    }

    .form-control{
      max-width: 100%;
      margin-right: 0;
    }
  }
}

