<div class="category-page">

  <section class="container category-head-wrap">

    <h1>Category: {{category}}</h1>

    <div *ngIf="!noProducts" class="category-filter-wrap">
      <div class="form-control search-control">
        <input type="text" placeholder="Find a product" [(ngModel)]="productName">
      </div>

      <div class="form-control">
        <select (change)="selectChange($event.target.value)">
          <option value="popular">Popular</option>
          <option value="newest">Newest</option>
          <option value="lowPrice">Price: Low to High</option>
          <option value="highPrice">Price: High to Low</option>
        </select>
      </div>
    </div>

  </section>

  <div class="container active-loader loader-parent" *ngIf="loading">
    <div class="loader-wrap">
      <img class="loader-svg" src='assets/img/loader.svg'>
    </div>
  </div>

  <section class="container loader-parent" *ngIf="(products | productSearch : productName) as result" #loader>

    <div class="loader-wrap">
      <img class="loader-svg" src='assets/img/loader.svg'>
    </div>

    <div class="dashboard" *ngIf="result.length">
      <app-product *ngFor="let product of result" class="product-card" [product]="product"></app-product>
    </div>

    <div class="search-no-results" *ngIf="!result.length && !loading">
      <span>No products was found.</span>
      Try to change your search query.
    </div>

    <div class="no-products text-center" *ngIf="noProducts">
      <span>There are no products in this category right now.</span>
    </div>

  </section>

</div>

