<header class="header">
  <a class="logo-link" routerLink="/">ngShop</a>

  <nav>
    <ul class="desktop-nav" *ngIf="auth.isAuthenticated()">
      <li routerLinkActive="active">
        <a routerLink="/admin/dashboard">Dashboard</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/add">Add product</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/orders">Orders</a>
      </li>
      <li>
        <a href="#" (click)="logOutClick($event)">Logout</a>
      </li>
    </ul>


    <ul class="mobile-nav">
      <li class="categories-dropdown">
        <span>More</span>

        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             x="0px" y="0px"
             viewBox="0 0 330 330" style="enable-background:new 0 0 25 25;" xml:space="preserve">
          <path id="XMLID_225_"
                d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
        </svg>

        <ul class="mobile-categories">
          <li routerLinkActive="active">
            <a routerLink="/admin/dashboard">Dashboard</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/add">Add product</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/orders">Orders</a>
          </li>
        </ul>

      </li>

      <li>
        <a href="#" (click)="logOutClick($event)">Logout</a>
      </li>
    </ul>
  </nav>
</header>


<section class="container">
  <router-outlet></router-outlet>
</section>

