<div class="container dashboard-page">
  <h1>Products dashboard</h1>

  <div class="form-control">
    <input type="text" placeholder="Find a product" [(ngModel)]="productName">
  </div>

  <table *ngIf="products.length; else noProducts">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Date & time</th>
      <th>Link</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let product of products | search : productName; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td><a target="_blank" routerLink="/product/{{product.id}}">{{ product.title }}</a></td>
      <td>{{ product.price }}</td>
      <td>{{ product.date | date:'dd.MM.yyyy HH:mm' }}</td>
      <td>
        <a class="btn btn-primary" routerLink="/admin/product/{{product.id}}/edit">Edit</a>
      </td>

      <td>
        <button class="btn btn-danger" (click)="remove(product.id)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #noProducts>
    <div class="error-text-wrap">
      <span>There are no products currently.</span>
      <a class="btn btn-success" routerLink="/admin/add">Add product</a>
    </div>
  </ng-template>
</div>
